// app global css in SCSS form
// app global css in SCSS form
@font-face {
  font-family: rubikvariable;
  src: url(./fonts/rubik-variable.ttf);
}

@font-face {
  font-family: seaweed;
  src: url(./fonts/SeaweedScript-Regular.ttf);
}

.seaweed {
  font-family: 'seaweed' !important;
}

.rubik-variable {
  font-family: 'rubikvariable';
}

body {
  font-family: 'rubikvariable';
  background-color: $light;
}

.app-button {
  padding: 0.6rem 2rem;
  border-radius: 6px;
}

.save-button {
  width: 200px;
  height: 50px;
  @media (max-width: '500px') {
    width: 100%;
    margin-left: 0 !important;
  }
}

.cancel-button {
  width: 200px;
  color: #606060;
  border-color: #606060;
  font-size: 0.875rem;
  height: 50px;
}

.back-btn {
  width: 200px;
  color: #606060 !important;
  border: 1px solid #606060;
  font-size: 0.875rem;
  height: 50px;
  @media (max-width: '500px') {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}

.header-height {
  height: 81px;
}

.school-list-table-header {
  background-color: $light;
  color: $accent;
}

.q-field--outlined .q-field__control:before {
  border-color: $grey;
}

.q-field--outlined .q-field__control:hover:before {
  border-color: #145e858a;
}

.q-field--outlined.q-field--highlighted .q-field__control:hover:before {
  border-color: #145e858a;
}

.q-field__control {
  color: #145e858a;
  height: 50px;
}

.bg-banner-success {
  background: rgba(1, 102, 85, 0.04);
}

.text-weight-600 {
  font-weight: 600;
}

.font-size-20 {
  font-size: 12px;
}

.text-color {
  color: #343434;
}
